.song {
    display: flex;
    background-color: #f5b14c;
    /* height: 150px;
    width: 550px; */
    justify-content: space-evenly;
    flex-direction: row;
    /* align-items: left; */
    color: rgb(37, 28, 10);
    padding: 10px;
    font-family: Marker Felt;
    /* font-weight: bold; */
    font-size: 25px;
    text-align: left;
    align-items: center;
    
    
  }

/* .arts--featured{
    display: flex;
    order: 2;
    height: 150px;
    width: 150px;
    justify-content: flex-end;
    flex-direction: column;
    align-content: flex-end;
    padding: 2px;
    text-align: right;
    
  } */


